.about-wrapper {
  background: #070707;
  color: #e8e8e8;
  overflow: hidden;
}

.about-hero {
  padding: 200px 20px 200px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.about-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(0, 0, 0, 0.55) 40%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

.about-title {
  font-family: "Oswald", sans-serif;
  position: relative;
  font-size: 72px;
  font-weight: 1000;
  color: #fff;
  letter-spacing: 1px;
  z-index: 2;
}

.highlight {
  color: rgba(248, 191, 127);
}

.values-section {
  padding: 140px 100px;
}

.values-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
}

.values-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.values-tag {
  display: inline-block;
  padding: 6px 18px;
  border: 1px solid rgba(248, 191, 127);
  border-radius: 30px;
  font-size: 0.85rem;
  color: rgba(248, 191, 127);
  letter-spacing: 1px;
  width: fit-content;
  text-transform: uppercase;
}

.values-title {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.2;
  color: #ffffff;
  max-width: 520px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}

.values-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 10px;
}

.values-row {
  display: flex;
  align-items: flex-start;
  gap: 18px;
}
.values-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(248, 191, 127);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(248, 191, 127);
  font-size: 20px;
  flex-shrink: 0;
  transition: 0.3s ease;
}

.values-row:hover .values-icon {
  background: rgba(248, 191, 127);
  color: #0c0c0c;
}

.values-row h3 {
  font-size: 1.48rem;
  font-weight: 700;
  margin-bottom: 6px;
  color: #ffffff;
}

.values-row p {
  font-size: 0.95rem;
  color: #adabab;
  line-height: 1.6;
  max-width: 420px;
}

.values-right {
  height: 100%;
}

.values-right img {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .values-section {
    padding: 100px 40px;
  }

  .values-container {
    gap: 40px;
  }

  .values-title {
    font-size: 2.8rem;
  }
}

@media (max-width: 768px) {
  .about-hero {
    padding: 120px 20px 120px;
  }
  .about-title {
    font-size: 32.5px;
  }
  .values-section {
    padding: 80px 20px;
    text-align: center;
  }

  .values-container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .values-left {
    align-items: center;
    text-align: center;
  }

  .values-tag {
    margin: 0 auto;
  }

  .values-title {
    font-size: 2rem;
    max-width: 100%;
  }

  .values-right {
    order: -1;
    display: none;
  }

  .values-list {
    width: 100%;
    align-items: center;
  }

  .values-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .values-icon {
    width: 42px;
    height: 42px;
    font-size: 18px;
  }

  .values-row h3 {
    font-size: 1.2rem;
  }

  .values-row p {
    font-size: 0.9rem;
    max-width: 100%;
  }
}

.performance-section {
  position: relative;
  padding: 80px 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: #fff;
}

.performance-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.81);
}

.performance-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
}

.performance-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 80px;
  align-items: center;
}
.performance-title {
  font-size: 56px;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  line-height: 1.2;
}

.performance-desc {
  color: #adabab;
  line-height: 1.7;
  max-width: 500px;
}

.performance-progress-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.progress-item {
  margin-bottom: 35px;
}

.progress-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 600;
}

.progress-bar {
  height: 4px;
  background: #2b2b2b;
  border-radius: 4px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: rgba(248, 191, 127);
  border-radius: 4px;
}
@media (max-width: 1024px) {
  .performance-section {
    padding: 80px 60px;
    background-position: center;
  }

  .performance-top {
    gap: 40px;
    margin-bottom: 60px;
  }

  .performance-title {
    font-size: 44px;
  }

  .performance-desc {
    max-width: 100%;
  }

  .performance-progress-wrapper {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  .performance-title,
  .performance-desc,
  .progress-header {
    text-align: center;
  }
  .performance-section {
    padding: 0px 20px;
    background-size: cover;
    background-position: center top;
  }

  .performance-top {
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 50px;
  }

  .performance-title {
    font-size: 32px;
  }

  .performance-desc {
    margin: 0 auto;
  }

  .performance-progress-wrapper {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .progress-item {
    margin-bottom: 25px;
  }

  .progress-header {
    font-size: 14px;
  }
}
