.footer-section {
  color: #eee;
  padding: 60px 5%;
  font-family: "Work Sans", sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}

.footer-nav {
  display: flex;
  gap: 40px;
}

.footer-nav a {
  color: #ddd;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s;
}

.footer-nav a:hover {
  color: #fff;
}

.footer-socials {
  display: flex;
  gap: 18px;
}

.footer-socials a {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
}

.footer-socials a:hover {
  border-color: #fff;
}

.footer-line {
  margin: 40px 0;
  border: none;
  height: 1px;
  background: rgb(136, 135, 135);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
  color: #aaa;
}

.footer-small {
  margin-top: 5px;
  font-size: 13px;
  color: #777;
}

.footer-right {
  max-width: 360px;
}

.footer-news-title {
  margin-bottom: 14px;
  font-size: 18px;
  color: #fff;
}

.footer-input-wrap {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #333;
  padding-bottom: 8px;
}

.footer-input-wrap input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 15px;
}

.footer-input-wrap button {
  background: #fff;
  color: #000;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.footer-input-wrap button:hover {
  transform: translateY(-2px);
}

@media (max-width: 850px) {
  .footer-section {
    padding: 10px 5% 40px;
  }

  .footer-top {
    flex-direction: column;
    text-align: center;
    gap: 22px;
  }

  .footer-logo {
    font-size: 26px;
  }

  .footer-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-line {
    margin: 25px 0;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 30px;
  }

  .footer-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-left p,
  .footer-small {
    text-align: center;
    margin: 0;
  }
  .footer-right {
    width: 100%;
    max-width: 100%;
  }

  .footer-news-title {
    font-size: 17px;
  }

  .footer-input-wrap {
    border-bottom: 1px solid #333;
    padding-bottom: 6px;
    justify-content: center;
  }

  .footer-input-wrap input {
    text-align: center;
    font-size: 15px;
  }

  .footer-input-wrap button {
    padding: 7px 16px;
    border-radius: 18px;
    font-size: 14px;
  }
}
