/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

/* ============================
     HEADER BASE
============================ */
.mobile-logo {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 12px 0;

  opacity: 0;
  transform: translateY(-40px);
  pointer-events: none;

  transition:
    opacity 0.4s ease,
    transform 0.4s ease,
    background 0.4s ease,
    backdrop-filter 0.4s ease;
}

.header.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ============================
     HEADER BOX
============================ */
.header-box {
  padding: 22px 48px;
  border-radius: 28px;

  background: transparent;
  backdrop-filter: blur(0px);

  display: flex;
  justify-content: center;
  align-items: center;

  transition:
    background 0.4s ease,
    backdrop-filter 0.4s ease;
}

.header.dark .header-box {
  background: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  color: black;
}

/* ============================
     DESKTOP MENU
============================ */
.desktop-menu {
  display: flex;
  gap: 75px;
  justify-content: center;
  align-items: center;
}

.desktop-menu a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

.desktop-menu a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #4db5ff;
  left: 0;
  bottom: -4px;
  transition: 0.3s ease;
}

.desktop-menu a:hover::after {
  width: 100%;
}

.desktop-menu a:hover {
  color: #4db5ff;
}

/* ============================
     BURGER 
============================ */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-50%);

  z-index: 3000;
}

.burger div {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: 0.3s;
}

/* Burger animation */
.burger.active div:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}
.burger.active div:nth-child(2) {
  opacity: 0;
}
.burger.active div:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

/* ============================
     MOBILE MENU
============================ */
.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  max-width: 65%;
  height: 100vh;

  background: rgba(20, 22, 25, 0.7);
  backdrop-filter: blur(18px);

  padding: 120px 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  transform: translateX(100%);
  transition: 0.45s ease;
  z-index: 2500;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu a {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  opacity: 0.85;
  transition: 0.2s ease;
  text-align: center;
}

.mobile-menu a:hover {
  opacity: 1;
  transform: translateX(6px);
}

/* ============================
     MOBILE RESPONSIVE
============================ */
@media (max-width: 820px) {
  .header,
  .header.visible,
  .header.dark {
    height: 70px;
    padding: 0 20px;

    justify-content: space-between;
    background: rgba(20, 22, 25, 0.7);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);

    display: flex;
    align-items: center;
  }

  .header-box {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .burger {
    display: flex;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
  .mobile-logo {
    display: block;
    height: 32px;
    position: absolute;
    left: 20px;
    top: 14px;
    z-index: 1000;
  }
  .desktop-menu {
    display: none !important;
  }
}
