.nav-header {
  position: fixed;
  top: -80px;
  width: 100%;
  z-index: 50;
  padding: 20px 0;
  background: transparent;
  backdrop-filter: blur(8px);
  transition: top 0.4s ease;
}

.nav-header.visible {
  top: 0;
}

.nav-container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 92px;
}

.nav-links a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #d4a373;
}

.contact-btn {
  padding: 8px 16px;
  border: 1px solid #d4a373;
  border-radius: 4px;
}

.contact-btn:hover {
  background: #d4a373;
  color: #000;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.logo-text {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@media (max-width: 1025px) {
  .nav-container {
    max-width: 950px;
  }
  .nav-links {
    display: flex;
    gap: 72px;
  }
}
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 20px 0;
    transform: translateY(-200%);
    transition: 0.4s ease;
  }

  .nav-links.open {
    transform: translateY(0);
  }
  .logo-img {
    height: 30px;
  }

  .logo-text {
    font-size: 15px;
  }

  .nav-container {
    padding: 0 20px;
  }

  .nav-links a {
    font-size: 18px;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    gap: 20px;
  }
}
