.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("./../assets/Home/Homebg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.hero-center-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  text-align: center;
  padding: 0 20px;
}
.hero-logo {
  width: 40px;
  height: auto;
  margin-bottom: 10px;
}

.hero-title span {
  display: inline-block;
  will-change: transform;
}

.hero-title {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: rgba(248, 191, 127);
}

.hero-description {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.8;
  color: white;
}
.hero-company {
  font-size: 1.2rem;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.scatter-letter {
  display: inline-block;
  will-change: transform, opacity, filter;
  transform: translate(
      calc(var(--scatter) * var(--rx)),
      calc(var(--scatter) * var(--ry))
    )
    rotate(calc(var(--scatter) * var(--rot)));
  transition: transform 0.28s linear;
}
.scroll-down {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
}
.scroll-circle {
  position: absolute;
  bottom: 20px;
  right: 20px;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.3s ease;

  z-index: 1;
}

.scroll-circle .arrow {
  font-size: 2rem;
  color: white;
  user-select: none;
}
.scroll-link {
  text-decoration: none;
}
/* ===========================
   LARGE SCREENS (default)
=========================== */

@media (max-width: 1400px) {
  .hero-description {
    font-size: 1.1rem;
  }
  .hero-title {
    line-height: 1.05;
    font-size: 3.7rem;
  }
  .scroll-circle {
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
  }
  .hero-company {
    font-size: 1.1rem;
  }
  .scroll-circle .arrow {
    font-size: 1.8rem;
  }
}

/* ===========================
   TABLETS (max-width: 1024px)
=========================== */
@media (max-width: 1034px) {
  .hero-center-content {
    margin-top: -90px;
  }
  .hero-title {
    font-size: 4rem;
  }
  .hero-section {
    height: 100vh;
    background-image: url("./../assets/Home/homebg2.png");
    background-size: 100% 100%;
  }
  .hero-description {
    font-size: 1.5rem;
    max-width: 80%;
    margin: 10px auto;
  }
  .hero-title {
    font-size: 5rem;
  }
  .scroll-circle {
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
  }
  .hero-company {
    font-size: 2.1rem;
  }
  .scroll-circle .arrow {
    font-size: 1.8rem;
  }
}

/* ===========================
   MOBILE (max-width: 768px)
=========================== */
@media (max-width: 768px) {
  .hero-center-content {
    margin-top: -90px;
  }
  .hero-title {
    font-size: 3rem;
    line-height: 1.1;
  }
  .hero-section {
    height: 100vh;
    background-image: url("./../assets/Home/homebg2.png");
    background-size: 140% 100%;
  }
  .hero-company {
    font-size: 1rem;
    letter-spacing: 5px;
  }

  .hero-description {
    font-size: 1rem;
    padding: 0px 10px;
  }

  .scroll-circle {
    width: 45px;
    height: 45px;
    bottom: 20px;
    right: 20px;
  }

  .scroll-circle .arrow {
    font-size: 1.6rem;
  }
}

/* ===========================
   SMALL MOBILE (max-width: 480px)
=========================== */
@media (max-width: 480px) {
  .hero-title {
    font-size: 2.3rem;
  }

  .hero-company {
    font-size: 0.85rem;
  }

  .hero-description {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .scroll-circle {
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }

  .scroll-circle .arrow {
    font-size: 1.4rem;
  }
}
