@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Work+Sans:wght@300;400;500&display=swap");

.intro-section {
  width: 100%;
  padding: 80px 10%;
  background: #0a0c0f;
  color: white;
}
.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  max-width: 1400px;
  margin: auto;
}

.intro-left {
  flex: 1;
}

.intro-heading {
  font-size: 3rem;
  font-weight: 900;
  color: white;
  line-height: 1.1;
  font-family: "Oswald", sans-serif;
}

.intro-heading span {
  color: rgba(248, 191, 127);
}

.intro-subtext {
  margin-top: 15px;
  font-size: 1.2rem;
  max-width: 550px;
  opacity: 0.85;
  line-height: 1.7;
}

.intro-stats {
  display: flex;
  gap: 25px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.stat-box {
  background: rgba(255, 255, 255, 0.08);
  padding: 18px 25px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  width: 150px;
  transition: 0.3s ease;
}

.stat-box:hover {
  transform: translateY(-6px);
  background: rgba(255, 255, 255, 0.15);
}

.stat-box h3 {
  font-size: 1.5rem;
  margin-bottom: 4px;
  font-family: "Oswald", sans-serif;
}

.intro-right {
  position: relative;
  flex: 1;
}

.intro-image {
  width: 100%;
  height: 380px;
  border-radius: 16px;
  background: url("./../assets/Intro/intro.jpg") center/cover no-repeat;
  filter: brightness(0.9);
}

.floating-card {
  position: absolute;
  bottom: -20px;
  right: 20px;

  padding: 18px 22px;
  border-radius: 12px;

  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.2);
}

.floating-card h4 {
  font-size: 1.1rem;
  font-weight: 700;
}

.floating-card p {
  font-size: 0.9rem;
  opacity: 0.8;
}

@media (max-width: 1025px) {
  .intro-container {
    flex-direction: column;
    text-align: center;
    padding: 0px 10%;
  }

  .intro-right {
    width: 100%;
  }
  .intro-subtext {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-image {
    height: 300px;
  }

  .floating-card {
    right: 50%;
    transform: translateX(50%);
  }
  .intro-stats {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .intro-section {
    padding: 50px 0%;
  }
  .intro-container {
    flex-direction: column;
    text-align: center;
    gap: 45px;
  }

  .intro-heading {
    font-size: 2.2rem;
    line-height: 1;
  }

  .intro-heading span {
    font-size: 2.2rem;
  }

  .intro-subtext {
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .intro-stats {
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 30px;
  }

  .stat-box {
    width: 110px;
    padding: 10px 10px;
  }

  .stat-box h3 {
    font-size: 1.5rem;
  }

  .stat-box p {
    font-size: 0.85rem;
  }

  .intro-image {
    height: 230px;
    border-radius: 14px;
  }

  .floating-card {
    width: 75%;
    right: 50%;
    transform: translateX(50%);
    bottom: -30px;
    padding: 15px 18px;
    border-radius: 10px;
  }

  .floating-card h4 {
    font-size: 1rem;
  }

  .floating-card p {
    font-size: 0.85rem;
  }
}
