@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Work+Sans:wght@300;400;500&display=swap");

.services-section {
  background: #070707;
  width: 100%;
  padding: 80px 10%;
  text-align: center;
}

.services-title {
  font-size: 62px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
}
.services-title span {
  color: rgba(248, 191, 127);
}
.services-subtitle {
  color: #aaa;
  font-size: 18px;
  margin-bottom: 50px;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.fade-card {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 0.9s ease-out,
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.service-card {
  background: #101010;
  padding: 25px;
  width: 450px;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s ease;
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Oswald", sans-serif;
}

.service-card p {
  color: #ccc;
  font-size: 15px;
  line-height: 1.5;
}

.service-card:hover {
  transform: translateY(-5px);
  background: #141414;
}

@media (max-width: 1025px) {
  .services-container {
    gap: 30px;
  }

  .service-card {
    width: 380px;
  }

  .services-title {
    font-size: 34px;
  }

  .services-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .services-section {
    padding: 60px 20px;
  }

  .services-title {
    font-size: 34px;
  }

  .services-subtitle {
    font-size: 15px;
    margin-bottom: 40px;
    padding: 0 10px;
  }

  .services-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .service-card {
    width: 100%;
    max-width: 380px;
    padding: 20px;
  }

  .service-card img {
    height: 180px;
  }

  .service-card h3 {
    font-size: 20px;
  }
}
